@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Flow+Circular&family=Raleway+Dots&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&family=Zen+Dots&display=swap");
@import url("https://unpkg.com/pattern.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-testid|="react-katex"] {
    width:auto;
    display:flex;
  }

#final ::before{
    content: "";
}

#repocard div{
    background-color: #374151 !important;
}

#repocard a{
    color: #37bcdd !important;
}

#repocard span{
    color: #cbe8f0 !important;
}

#repocard svg{
    fill: #cbe8f0 !important;
}

#markdown p{
    padding-top:16px;
    padding-bottom:16px;
}

#markdown li p::before{
    content:"•";
    margin-right:12px
}


#markdown h2::before{
    content:"👇🏼";
    margin-right:12px;
}
#markdown h3::before{
    content:"👇🏼";
    margin-right:12px;
}

#markdown h4::before{
    content:"👇🏼";
    margin-right:12px;
}

#markdown h5::before{
    content:"👇🏼";
    margin-right:12px;
}


#markdown li{
    display: flex;
    orientation: row;
    margin-left:32px;
    gap:48px
}

#markdown h2 { 
    border: #cbe8f0;
    border-style: dotted;
    border-width: 4px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: var(--font-lulo);
    background-color: #262626;
    padding:16px;
    margin-left:4px
}

#markdown h3 {
    border: #cbe8f0;
    border-style: dotted;
    border-width: 4px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: var(--font-lulo);
    background-color: #262626;
    padding:16px;
    margin-left:4px
}

#markdown h4 {
    border: #cbe8f0;
    border-style: dotted;
    border-width: 4px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: var(--font-lulo);
    background-color: #262626;
    padding:16px;
    margin-left:4px
}

#markdown h5 {
    border: #cbe8f0;
    border-style: dotted;
    border-width: 4px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: var(--font-lulo);
    background-color: #262626;
    padding:16px;
    margin-left:4px
}

.skills {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}

 iframe {
    height:500px !important
}