@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Flow+Circular&family=Raleway+Dots&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&family=Zen+Dots&display=swap");
@import url("https://unpkg.com/pattern.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navbar{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}

.footer{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
} */
#floating-button-tooltip{
    margin-left:48px;
    margin-top:16px;
}

#markdown p{
    margin-top:32px;
}

#markdown li p::before{
    content:"⦾";
    margin-right:16px
}

#markdown li{
    display: flex;
    orientation: row;
    margin-left:32px;
    gap:48px
}

#markdown h2 { 
    font-size: 28 px;
    margin-top: 14px;
    margin-bottom: 14px;
    font:bold;
    font-family: var(--font-lulo);
    background-color: #334155;
    padding:4px;
    margin-left:4px
}

#markdown h3 {
    font-size: 28 px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: var(--font-lulo);
    background-color: #334155;
    padding:4px;
    margin-left:4px
}

#markdown h4 {
    font-size: 28 px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: var(--font-lulo);
    background-color: #334155;
    padding:4px;
    margin-left:4px
}

#markdown h5 {
    font-size: 28 px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-family: var(--font-lulo);
    background-color: #334155;
    padding:4px;
    margin-left:4px
}

.skills {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
